Repository foundry-rs/starknet-foundry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-core

Fix syscall ptr bug (#680)
  CHANGELOG.md
  crates/cheatnet/src/execution/syscalls.rs
  crates/forge/src/test_execution_syscall_handler.rs
  crates/forge/tests/integration/test_state.rs
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

Review suggestions
  crates/cheatnet/src/cheatcodes/deploy.rs
  crates/cheatnet/src/cheatcodes/precalculate_address.rs
  crates/cheatnet/src/constants.rs
  crates/forge/src/running.rs
  crates/forge/src/test_execution_syscall_handler.rs
  crates/forge/tests/data/contracts/panicking_constructor.cairo
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

lint
  crates/cheatnet/src/constants.rs
Owners: @foundry-rs/starknet-foundry-core

Fix after merge
  crates/forge/src/test_execution_syscall_handler.rs
Owners: @foundry-rs/starknet-foundry-forge

Add generic adapter interface description
  design_documents/contract_verification.md
Owners: none

Update comment
  crates/cheatnet/src/cheatcodes/declare.rs
Owners: @foundry-rs/starknet-foundry-core

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Apply suggestions from code review
  crates/cheatnet/src/constants.rs
Owners: @foundry-rs/starknet-foundry-core

Fixed declare (#804)
  crates/cheatnet/src/cheatcodes/declare.rs
  crates/cheatnet/tests/cheatcodes/declare.rs
Owners: @foundry-rs/starknet-foundry-core

Implement deploy in execution layer (#828)
  CHANGELOG.md
  crates/cheatnet/src/cheatcodes/deploy.rs
  crates/cheatnet/src/cheatcodes/mod.rs
  crates/cheatnet/src/cheatcodes/precalculate_address.rs
  crates/cheatnet/src/constants.rs
  crates/cheatnet/src/rpc.rs
  crates/cheatnet/tests/cheatcodes/deploy.rs
  crates/cheatnet/tests/common/assertions.rs
  crates/cheatnet/tests/common/mod.rs
  crates/cheatnet/tests/starknet/resources.rs
  crates/forge/src/running.rs
  crates/forge/src/test_execution_syscall_handler.rs
  crates/forge/tests/data/contracts/panicking_constructor.cairo
  crates/forge/tests/integration/deploy.rs
  crates/forge/tests/integration/deploy_at.rs
  crates/forge/tests/integration/dispatchers.rs
  crates/forge/tests/integration/spy_events.rs
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

move cairo0-related code to the separate module
  crates/cheatnet/src/execution/cairo1_execution.rs
  crates/cheatnet/src/execution/calls.rs
  crates/cheatnet/src/execution/calls/mod.rs
  crates/cheatnet/src/execution/deprecated/cairo0_execution.rs
  crates/cheatnet/src/execution/deprecated/calls.rs
  crates/cheatnet/src/execution/deprecated/mod.rs
  crates/cheatnet/src/execution/deprecated/syscalls.rs
  crates/cheatnet/src/execution/entry_point.rs
  crates/cheatnet/src/execution/mod.rs
  crates/cheatnet/src/execution/syscalls.rs
  crates/cheatnet/src/execution/syscalls/mod.rs
  crates/forge/src/running.rs
  crates/forge/src/test_execution_syscall_handler.rs
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

update tests with proper result handling
  crates/cheatnet/tests/starknet/cheat_fork.rs
  crates/forge/src/running.rs
  crates/forge/src/test_execution_syscall_handler.rs
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

revert unnecessary changes
  crates/cheatnet/src/execution/cairo1_execution.rs
  crates/cheatnet/src/execution/calls.rs
  crates/cheatnet/src/execution/deprecated/mod.rs
  crates/cheatnet/src/execution/mod.rs
  crates/cheatnet/src/execution/syscalls.rs
  crates/forge/src/running.rs
  crates/forge/src/test_execution_syscall_handler.rs
Owners: @foundry-rs/starknet-foundry-core, @foundry-rs/starknet-foundry-forge

remove unnesesary clone
  crates/forge/src/lib.rs
  crates/forge/tests/integration/common/running_tests.rs
  crates/forge/tests/integration/setup_fork.rs
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-core

address PR comments
  design_documents/contract_verification.md
Owners: none

Add link to should_panic section
  docs/src/testing/contracts.md
Owners: none

feedback
  crates/forge/src/lib.rs
  crates/forge/src/pretty_printing.rs
  crates/forge/src/running.rs
  crates/forge/src/test_case_summary.rs
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-core

mark copied parts
  crates/cheatnet/src/execution/deprecated/cairo0_execution.rs
  crates/cheatnet/src/execution/deprecated/calls.rs
  crates/cheatnet/src/execution/deprecated/syscalls.rs
Owners: @foundry-rs/starknet-foundry-core

fix comment
  crates/forge/src/test_case_summary.rs
Owners: @foundry-rs/starknet-foundry-forge

add cheating from test state test
  crates/forge/tests/integration/setup_fork.rs
Owners: @foundry-rs/starknet-foundry-core

fix linter
  crates/forge/src/test_case_summary.rs
Owners: @foundry-rs/starknet-foundry-forge

Add link to should_panic section in contract testing docs (#847)
  docs/src/testing/contracts.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

adds exit first test
  crates/forge/src/main.rs
  crates/forge/src/running.rs
  crates/forge/tests/data/fuzzing/src/lib.cairo
  crates/forge/tests/data/fuzzing/tests/exit_first.cairo
  crates/forge/tests/e2e/fuzzing.rs
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-core

fix format
  crates/forge/src/test_case_summary.rs
Owners: @foundry-rs/starknet-foundry-forge

change
  crates/forge/tests/data/fuzzing/tests/exit_first.cairo
Owners: @foundry-rs/starknet-foundry-forge

fix lint
  crates/forge/src/running.rs
Owners: @foundry-rs/starknet-foundry-core

add warp and roll test state tests
  crates/forge/tests/integration/cheat_fork.rs
  crates/forge/tests/integration/mod.rs
  crates/forge/tests/integration/setup_fork.rs
Owners: @foundry-rs/starknet-foundry-core

update test
  crates/forge/tests/data/fuzzing/tests/exit_first.cairo
Owners: @foundry-rs/starknet-foundry-forge

Cheat cairo0 contracts (#835)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/cast/Cargo.toml
  crates/cheatnet/Cargo.toml
  crates/cheatnet/src/execution/deprecated/cairo0_execution.rs
  crates/cheatnet/src/execution/deprecated/calls.rs
  crates/cheatnet/src/execution/deprecated/mod.rs
  crates/cheatnet/src/execution/deprecated/syscalls.rs
  crates/cheatnet/src/execution/entry_point.rs
  crates/cheatnet/src/execution/mod.rs
  crates/cheatnet/src/execution/syscalls.rs
  crates/cheatnet/tests/starknet/cheat_fork.rs
  crates/cheatnet/tests/starknet/mod.rs
  crates/forge/tests/integration/cheat_fork.rs
  crates/forge/tests/integration/mod.rs
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-core

Do not print ascii control characters
  crates/forge/src/test_execution_syscall_handler.rs
  crates/forge/tests/data/print_test/tests/test_print.cairo
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-forge

adds next test
  crates/forge/tests/data/fuzzing/tests/exit_first_single_fail.cairo
  crates/forge/tests/e2e/fuzzing.rs
Owners: @foundry-rs/starknet-foundry-forge

make task harder
  crates/forge/tests/data/fuzzing/tests/exit_first.cairo
  crates/forge/tests/data/fuzzing/tests/exit_first_single_fail.cairo
Owners: @foundry-rs/starknet-foundry-forge

fix tests
  crates/forge/tests/data/fuzzing/tests/exit_first_only_fuzzing.cairo
  crates/forge/tests/e2e/fuzzing.rs
Owners: @foundry-rs/starknet-foundry-forge

Add a testing contract internals page
  crates/forge/tests/integration/test_state.rs
  docs/src/SUMMARY.md
  docs/src/testing/testing_contract_internals.md
Owners: @foundry-rs/starknet-foundry-core

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Simplify debugging.md
  docs/src/testing/debugging.md
Owners: none

Update outputs
  docs/src/testing/debugging.md
Owners: none

Add note on converting ascii control characters
  docs/src/appendix/forge-library/print.md
  docs/src/testing/debugging.md
Owners: none

.github/CODEOWNERS:

# Cast
/crates/cast/               @foundry-rs/starknet-foundry-cast

# Forge
/crates/forge               @foundry-rs/starknet-foundry-forge
/crates/test-collector/     @foundry-rs/starknet-foundry-forge

# snforge-core
/crates/cheatnet            @foundry-rs/starknet-foundry-core
/crates/forge/src/running.rs @foundry-rs/starknet-foundry-core
/crates/forge/src/cheatcodes_hint_processor.rs @foundry-rs/starknet-foundry-core
/crates/forge/tests/integration @foundry-rs/starknet-foundry-core
