Repository foundry-rs/starknet-foundry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

.github/CODEOWNERS:

# Default owners: Any directory not specified by lines below will match all our teams
*                                           @foundry-rs/starknet-foundry-cast @foundry-rs/starknet-foundry-forge @foundry-rs/starknet-foundry-cheatable-net

# Cast
/crates/cast/              @foundry-rs/starknet-foundry-cast

# Forge
/crates/forge              @foundry-rs/starknet-foundry-forge
/crates/test-collector/    @foundry-rs/starknet-foundry-forge

# Cheatable starknet
/crates/cheatnet @foundry-rs/starknet-foundry-cheatable-net

fix
  crates/forge/tests/integration/syscalls.rs
Owners: @foundry-rs/starknet-foundry-forge

update Scarb link
  CHANGELOG.md
  docs/src/appendix/cheatcodes.md
  docs/src/appendix/forge-library.md
  docs/src/testing/contracts.md
  docs/src/testing/debugging.md
  docs/src/testing/using-cheatcodes.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

ignore test
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-forge

remove irrelevant TODO
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-forge

unignore test
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-forge

#312 adds basic corelib types to forge_print (#416)
  CHANGELOG.md
  cheatcodes/src/forge_print.cairo
  crates/forge/tests/data/print_test/tests/test_print.cairo
  crates/forge/tests/e2e/running.rs
  docs/src/appendix/forge-library/print.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

ad `EventFetcher` trait
  design_documents/accessing_emitted_events.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

rename test file
  crates/forge/tests/integration/expect_events.rs
  crates/forge/tests/integration/mod.rs
Owners: @foundry-rs/starknet-foundry-forge

Fails test when user tries to use syscalls not supported by forge tes… (#413)
  CHANGELOG.md
  crates/forge/src/cheatcodes_hint_processor.rs
  crates/forge/tests/integration/syscalls.rs
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

change interface:
  design_documents/loading_data_from_files.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

from -> prase
  design_documents/loading_data_from_files.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

add mapping address -> events
  design_documents/accessing_emitted_events.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

remove unnecessary `stop_spy`
  design_documents/accessing_emitted_events.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Update docs - cheatcode package (#425)
  CHANGELOG.md
  benchmarks/data/forge.cairo
  benchmarks/data/protostar.cairo
  crates/cheatnet/src/cheatcodes/declare.rs
  crates/forge/src/scarb.rs
  crates/forge/tests/data/print_test/Scarb.toml
  crates/forge/tests/data/print_test/tests/test_print.cairo
  crates/forge/tests/data/simple_package/Scarb.toml
  crates/forge/tests/data/simple_package/tests/contract.cairo
  crates/forge/tests/e2e/running.rs
  crates/forge/tests/integration/common/runner.rs
  crates/forge/tests/integration/declare.rs
  crates/forge/tests/integration/deploy.rs
  crates/forge/tests/integration/dispatchers.rs
  crates/forge/tests/integration/prank.rs
  crates/forge/tests/integration/roll.rs
  crates/forge/tests/integration/starknet.rs
  crates/forge/tests/integration/syscalls.rs
  crates/forge/tests/integration/warp.rs
  docs/src/appendix/cheatcodes.md
  docs/src/appendix/cheatcodes/start_prank.md
  docs/src/appendix/cheatcodes/start_roll.md
  docs/src/appendix/cheatcodes/start_warp.md
  docs/src/appendix/cheatcodes/stop_prank.md
  docs/src/appendix/cheatcodes/stop_roll.md
  docs/src/appendix/cheatcodes/stop_warp.md
  docs/src/appendix/forge-library.md
  docs/src/appendix/forge-library/declare.md
  docs/src/appendix/forge-library/deploy.md
  docs/src/appendix/forge-library/print.md
  docs/src/testing/contracts.md
  docs/src/testing/debugging.md
  docs/src/testing/testing.md
  docs/src/testing/using-cheatcodes.md
  snforge_std/Scarb.toml
  snforge_std/src/cheatcodes.cairo
  snforge_std/src/forge_print.cairo
  snforge_std/src/lib.cairo
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Loading data from files - design doc (#424)
  design_documents/loading_data_from_files.md
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

unignore
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-forge

Unignore git dependency test (#442)
  CHANGELOG.md
  crates/forge/tests/e2e/running.rs
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Fix an issue where panic from syscall would not be parsed correctly
  crates/cheatnet/src/cheatcodes/deploy.rs
  crates/cheatnet/src/conversions.rs
  crates/cheatnet/src/lib.rs
  crates/cheatnet/src/panic_data.rs
  crates/cheatnet/src/rpc.rs
  crates/forge/tests/integration/dispatchers.rs
Owners: @foundry-rs/starknet-foundry-cheatable-net, @foundry-rs/starknet-foundry-forge

wip
  crates/forge/src/cheatcodes_hint_processor/file_operations.rs
  snforge_std/src/file_operations.cairo
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-cheatable-net

wip
  CHANGELOG.md
  crates/forge/src/cheatcodes_hint_processor.rs
  snforge_std/src/file_operations.cairo
  snforge_std/src/lib.cairo
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

adjust error message and docs for starknet artifacts parsing
  crates/forge/src/scarb.rs
  docs/src/getting-started/first-steps.md
  docs/src/getting-started/scarb.md
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-cheatable-net

fix requested changes
  crates/forge/src/scarb.rs
  docs/src/getting-started/first-steps.md
  docs/src/getting-started/scarb.md
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-cheatable-net

fix unit test related to error message
  crates/forge/src/scarb.rs
Owners: @foundry-rs/starknet-foundry-forge

Change cheatcodes to snforge_std
  crates/forge/tests/integration/dispatchers.rs
Owners: @foundry-rs/starknet-foundry-forge

Bumped cairo-lang to 2.1.0
  Cargo.lock
  Cargo.toml
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Fix message and docs for starknet artifacts parsing (#439)
  crates/forge/src/scarb.rs
  docs/src/getting-started/first-steps.md
  docs/src/getting-started/scarb.md
Owners: @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-cheatable-net

Updated scarb to 0.6.0
  benchmarks/data/project/Scarb.toml
  crates/cheatnet/src/cheatcodes/declare.rs
  crates/forge/src/scarb.rs
  crates/forge/tests/data/simple_package/Scarb.toml
  crates/forge/tests/e2e/running.rs
  scripts/prepare_for_tests.sh
  scripts/test_forge.sh
  snforge_std/Scarb.toml
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Bumped cairo-lang to 2.1.0
  Cargo.lock
  Cargo.toml
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

wip
  crates/forge/tests/data/simple_package/tests/test_simple.cairo
  crates/forge/tests/data/simple_package/uwu.txt
Owners: @foundry-rs/starknet-foundry-forge

wip
  Cargo.lock
  crates/cheatnet/src/cheatcodes.rs
  crates/forge/Cargo.toml
  crates/forge/src/cheatcodes_hint_processor/file_operations.rs
  snforge_std/src/file_operations.cairo
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Updated scarb version in ci
  .github/workflows/ci.yml
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

works
  crates/forge/src/cheatcodes_hint_processor/file_operations.rs
Owners: @foundry-rs/starknet-foundry-forge

Hoist deps (#447)
  Cargo.lock
  Cargo.toml
  crates/cheatnet/Cargo.toml
  crates/forge/Cargo.toml
  crates/test-collector/Cargo.toml
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

remove redundant files
  crates/forge/src/cheatcodes_hint_processor/file_operations.rs
  crates/forge/tests/data/simple_package/tests/test_simple.cairo
  crates/forge/tests/data/simple_package/uwu.txt
Owners: @foundry-rs/starknet-foundry-forge

Updated COMPILER_VERSION constant
  crates/cast/tests/helpers/constants.rs
Owners: @foundry-rs/starknet-foundry-cast

adds possibilities to precalculate contract address before deploy
  cheatcodes/src/cheatcodes.cairo
  crates/cheatable-starknet/src/cheatcodes.rs
  crates/cheatable-starknet/src/cheatcodes/deploy.rs
  crates/cheatable-starknet/src/cheatcodes/precalculate_address.rs
  crates/forge/src/cheatcodes_hint_processor.rs
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net

Reverted cast scarb version
  Cargo.lock
  Cargo.toml
  crates/cast/tests/helpers/constants.rs
  scripts/prepare_for_tests.sh
Owners: @foundry-rs/starknet-foundry-cast, @foundry-rs/starknet-foundry-forge, @foundry-rs/starknet-foundry-cheatable-net
